* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Futura";
}

.container {
  width: 100%;
  padding: 10px;
}
nav {
  width: 100%;
  background-color: white;
  color: black;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: rgb(160, 156, 156);
}

.container-fluid {
  display: none;
  margin-right: 30px;
}
.home-link h1 {
  display: none;
}
.menu {
  display: none;
  position: absolute;
  opacity: 0.9;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 70vh;
  background-color: white;
  z-index: 99;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  font-size: 30px;
  transition: 0.4s ease-in;
  color: rgb(126, 121, 121);
}
.close-btn {
  width: 50px;
  position: absolute;
  top: 100px;
  right: 20px;
}

.close-btn img {
  width: 100%;
}

.menu a {
  margin: 20px;
}

nav button {
  background-color: white;
  border: none;
  border-radius: 0;
}
.hamburger-menu-img {
  width: 50px;
  margin-right: 10px;
}

.front-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front-img img {
  width: 100%;
  height: 250px;
}

footer {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #424242;
}

footer a {
  text-decoration: none;
  color: white;
  margin: 10px;
}
.social .fa {
  font-size: 30px;
}

.logo {
  margin: 1rem;
  width: 100px;
}
.intro {
  margin: 20px;
}

.col-left,
.col-right {
  width: 100%;
  margin: 3rem 0;
}

.intro h2,
.intro h1 {
  margin-bottom: 1rem;
  font-size: 30px;
  line-height: 49px;
  opacity: 0.6;
}

.intro p {
  font-family: "Baskerville", serif;
  line-height: 30px;
  font-size: 18px;
  letter-spacing: 1px;
  opacity: 0.7;
  text-align: justify;
}
.future-publish h2 {
  text-align: center;
  color: rgb(160, 156, 156);
  margin-top: 2rem;
}

.future-publish img {
  width: 70%;
}

.book-container {
  margin: 4rem 0 3rem 0;
}

.book-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.book-text {
  padding: 0 15px;
}

.future-publish h3 {
  font-family: Futura, Arial, sans-serif;
  font-weight: 400;
  font-size: 34px;
  color: rgb(160, 156, 156);
}

.future-publish span {
  font-size: 20px;
  font-family: Baskerville, serif;
  font-style: italic;
}

.future-publish p {
  font-family: Baskerville, serif;
  line-height: 22px;
  margin: 1rem 0;
  font-size: 18px;
}

@media screen and (min-width: 700px) {
  .logo {
    width: 200px;
  }

  .hamburger-menu-img {
    display: none;
  }
  .menu-btn {
    display: none;
  }
  .menu {
    display: none;
  }
  .container-fluid {
    display: flex;
    padding: 1rem 4rem;
    font-size: 18px;
  }

  .container-fluid a {
    margin-top: 5px;
    margin-right: 4rem;
  }

  .navbar-nav {
    margin-top: 5px;
    margin-left: 10px;
  }

  .home-link {
    display: flex;
    align-items: center;
  }
  .home-link h1 {
    display: block;
    font-size: 40px;
    font-family: "Baskerville", serif;
  }

  .nav-link {
    margin-top: 1rem;
  }

  .front-img img {
    height: 700px;
  }

  .intro {
    display: flex;
    justify-content: center;
  }

  .col-left,
  .col-right {
    margin: 3rem;
    width: 30%;
  }
  .future-publish {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .book-container {
    display: flex;
    justify-content: center;
    width: 80%;
  }

  .book-img-container {
    width: 50%;
    margin-right: 5rem;
  }

  .book-text {
    width: 30%;
  }

  .future-publish hr {
    width: 400px;
    margin: auto;
  }

  .about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-us-container .col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
  }
}

@import "./podcast.css";
